<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Run report</title>
    <link rel="stylesheet" href="../static/dashboard_style.css">
</head>


<body>

<header>
    <h1>Run Report BACKTEST - {{ date_run }}</h1>
    <hr>
  </header>

  <div class="corpus">

    <div class="section-title"><h2>Global KPIs</h2></div>


    <!--FIRST COLUMN-->
    <section style="width: 400px;">
      <div class="img-container" style="height: 100%; width: 100%">
          <img src="../static/metrics_global.png" alt="">
      </div>
    </section>

    <!--SECOND COLUMN-->
    <section style="width: 800px;">
      <div class="img-container" style="height: 100%; width: 100%">
          <img src="../static/sales_evol.png" alt="">
      </div>
    </section>

  </div>


</body>
</html>